<!doctype html>
<html lang="en">
<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FV1ZE9QFNP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FV1ZE9QFNP');
  </script>

  {% include head.html %}

</head>
<body>

  {% include header.html %}

  <main class="pageWrap">
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>